<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467988514037-gdstjc3aq5mpibskgh0m129fkjf3pfpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467988514037-gdstjc3aq5mpibskgh0m129fkjf3pfpe</string>
	<key>API_KEY</key>
	<string>AIzaSyCBAx9ozDs_wJFkKZo9bdcVPw66HGbuXfM</string>
	<key>GCM_SENDER_ID</key>
	<string>467988514037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hellofbase</string>
	<key>PROJECT_ID</key>
	<string>hellofbase-50ec2</string>
	<key>STORAGE_BUCKET</key>
	<string>hellofbase-50ec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467988514037:ios:49ee37e1d1f8d0a9b9b1bc</string>
</dict>
</plist>